{% extends 'base.html' %}
{% block contenido %}
<div class="d-flex register justify-content-center align-items-center">
    <div class="form-wrapper rounded">
        <form id="style-form" action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button id="submit" type="submit">
                Enviar
            </button>
            <div class="text-center">
                <a href="{% url 'register' %}"> Registrarme</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

</html>